
body {
    
    margin:  0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-image: url("../img/site/background.jpg");
          
}

#logo {
    position: relative;
    left: 465px;
    width: 990px;
    height:80px;
}

#marque {
    padding-top: 22px;
    padding-left: 23px;
    width: 196px;
    height: 51px;
}


nav {
    display: flex;
    position: absolute;
    align-items: center;
    top: 86px;
    left: 478px;
    width: 964px;
    height:44px;
    background-color: #0056af; 
}

nav > ul {
    margin: 0px;
    padding: 0px;
}


nav > ul > li:hover{
    
    background-color: #b9d2f3;    
}

nav > ul > li {    
    float: left;
    position: relative;
    border-right-style: dotted;
    border-color: white;
} 

nav li {
        list-style-type: none;     
}

.submenu {
    margin: 0px;
    display: none;
    background-color: #b9d2f3;
}

.submenu li {
    width: 160px;
    padding: 0px;    
}

.submenu li a{
    
    padding: 8px 15px;
    font-size: 13px;
    color: black;
    width: 270px;
}

nav a {
    display: inline-block;
    font-family: 'Open Sans';
    color: white;
    font-weight: 700;
    text-decoration: none;
}

nav > ul > li > a {
    color: white;
    padding: 11px 13px;
    
    
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;    
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;        
}

a:hover{
    color: #0056af;
}

.submenu a:hover{
    color: #0056af;
}

h3{
    display: flex;
    position: relative;
    margin:0px;
    padding:0px;
    justify-content: center;
    width: 964px;
    left: 478px;
    top:70px;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bold;
    
}

#list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    align-content: space-around;          
    top: 123px;
    left: 478px;
    width: 964px; 
      
}

#list > a{
    text-decoration: none; 
      
}

#etiquette {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin:20px;   
    width: 220px;
    height: 336px;
}

#etiquette img {
    width: 220px;
    height: 220px;
}

#etiquette h4 {
    margin: 0px;
    text-align: center;
    color: #0056ef;
    font-family:'Open Sans';
    font-size: 14px;
}

#etiquette p {
    margin: 0px;    
    text-align: center;
    justify-items: flex-end;
    color: black;
    font-family:'Open Sans';
    font-size: 30px;
    font-weight: 600;
}

.brands{
    display: flex;
    position: relative;
    justify-content: center;
    width: 964px;
    margin:0px;
    padding:0px;
    left: 478px;
    top:90px;
}

#details{
    position: relative;
    padding:0px;
    margin:0px;    
    top: 50px;
    left: 520px;
    width: 880px; 
     
}

#details > h4{
    color: black;
    font-family:'Open Sans';
    font-size: 30px;
    font-weight: 600;
    
}

#aside{
    display: flex;
}

#details-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 10px;
    top:0px;
    width: 220px;
    

}

#price{
    padding:0px;
    margin:0px;
    color: black;
    font-family:'Open Sans';
    font-size: 48px;
    font-weight: 500;
    
}

#details-right{
      
    position: relative;
    margin-left: 10px;
    top:0px;
    

}

#details-right > p{
    
    color: black;
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: 900;
    
}

#details-right > p > span{
    position: relative;
    margin: 0px;
    top:0px;
    color: #0056af;
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: 900;
    
}

#descriptif{
    position: relative;    
    color: black;
    font-family:'Open Sans';
    font-size: 16px;
    font-weight: 700;   
}

#stores{
    margin: 0px;
    padding:0px;
    height: 44px;
    
}

#stores > p {
    display: flex;
    margin:5px;
    color: black;
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: 900;
    
    
}
#stores > p > span{
    position: relative;
    padding:0px;
    margin: 0px;
    color: #0056af;
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: 900;
    
}















 
